.btn
  width 200px
  height 35px
  border none
  border-radius 1px
  background #315efb
  cursor pointer
  transition .2s

  &:active
    background #2c54e2

  &:focus
    outline none

  &__title
    font-family 'Roboto', sans-serif
    font-size 12px
    font-weight 500
    line-height 15px
    letter-spacing 1px
    text-align center
    color #ffffff
