{
  "extends": ["./node_modules/eslint-config-rambler/.eslintrc", "eslint-config-rambler"],
  "rules": {
    "import/default": 0,
    "import/named": 0,
    "import/namespace": 0,
    "no-console": 0,
    "import/no-named-as-default": 0,
    "import/no-named-as-default-member": 0,
    "import/no-namespace": 0,
    "react/sort-prop-types": 0,
    "react/no-danger": 0,
    "react/no-multi-comp": 0,
    "new-cap": 0,
    "camelcase": 0,
    "import/no-mutable-exports": 0,
    "object-curly-spacing": 0,
    "no-constant-condition": 0
  }
}
