.statistic
  &__result
    display flex
    height 35px
    margin-bottom 10px
    padding 10px 10px 0
    background-color #fff
    border-radius 1px
    box-shadow 0 1px 0 0 #d7d8db, 0 0 0 1px #e3e4e8
    font-family 'Roboto', sans-serif
    font-size 13px
    line-height 15px
    letter-spacing 1px
    color #262626

  &__item
    margin-right 15px
