.uploader
  &__input
    display none

  &__label
    display block
    width 200px
    height 35px
    border none
    border-radius 1px
    background #315efb
    cursor pointer
    transition .2s

    &:active
      background #2c54e2

  &__btn
    font-family 'Roboto', sans-serif
    font-size 12px
    font-weight 500
    line-height 35px
    letter-spacing 1px
    text-align center
    color #ffffff
