.sidebar
  display flex
  flex-direction column
  width 100%

  &__item
    display block
    height 40px
    width 100%
    margin-bottom 5px
    border-radius 1px
    box-shadow 0 1px 0 0 #d7d8db, 0 0 0 1px #e3e4e8
    font-family 'Roboto', sans-serif
    font-size 13px
    line-height 40px
    letter-spacing 1px
    text-decoration none
    text-align center
    color #262626
    background #fff
    transition .2s

    &:hover
      color #315efb
      box-shadow 0 1px 0 0 #315efb, 0 0 0 1px #315efb
