.list
  display flex
  flex-direction column

  &__item
    margin-bottom 5px

  &__item-title
    height 35px
    background white
    padding 10px 10px 0
    background-color #fff
    border-radius 1px
    box-shadow 0 1px 0 0 #d7d8db, 0 0 0 1px #e3e4e8
    font-family 'Roboto', sans-serif
    font-size 13px
    line-height 15px
    letter-spacing 1px
    cursor pointer
    color #262626
    transition .2s

    &:hover
      color #315efb
      box-shadow 0 1px 0 0 #315efb, 0 0 0 1px #315efb

  &__item-childs
    overflow hidden
    height 0
    padding 0 15px
    transition .3s

    &--open
      height auto

  &__item-child
    height 25px
    margin 5px 0
    padding 0 10px
    font-family 'Roboto', sans-serif
    font-size 11px
    line-height 25px
    letter-spacing 1px
    background #f9fafb
    box-shadow 0 1px 0 0 #d7d8db, 0 0 0 1px #e3e4e8
    color #262626
